<div class="container-hero-image">
    <div class="window-outline" >
        <div class="glare-itm-top"></div>
        <div class="window-main">
            <div class="shine-wrapper">
                <div class="shine-small"></div>
                <div class="shine-big"></div>
            </div>
            <div class="window-bar">
                <div class="window-dots-wallpaper">
                    <div class="dot red"></div>
                    <div class="dot yellow"></div>
                    <div class="dot green"></div>
                </div>
            </div>
            <div class="window-content" [ngStyle]="{'background': 'linear-gradient(to bottom, ' + backgroundColor +', white)'}">
                <div class="floating-elements">
                    <div class="code-snippet snippet-1">&#64;SpringBootApplication</div>
                    <div class="code-snippet snippet-2">&#64;RestController</div>
                    <div class="code-snippet snippet-3">&#64;Autowired</div>
                </div>
                <img [src]="img" alt="Overlay" [class]="imgClass">
                <div class="hero-text-content">
                    <div class="text-hero">
                        {{title}}
                    </div>
                    <div class="text-hero-about">
                        {{description}}
                    </div>
                </div>
            </div>
    
        </div>
    </div>    
</div>
