<div class="tilt-neon-font navbar-container">
  <div class="logo-container">
    <div class="logo">
      <img src="assets/logo.png" alt="logo" class="logo-img">
    </div>
    <div class="name-profession">
      <h3>Hritik Singh</h3>
      <h6>Software Engineer</h6>
    </div>
  </div>

  <div class="middle-item">
    <div class="nav-indicator" [style.margin-left] = 'marginLeft'></div>
    <div class="middle-item-inner">
      <div class="pill" (click) = "indicatorPositionChange('work')">
        <div class="transparent-background pill-content">
          Work
        </div>
      </div>
      <div class="pill" (click) = "indicatorPositionChange('info')">
        <div class="transparent-background pill-content">
          Info
        </div>
      </div>
    </div>
  </div>
      <!-- Only show link-to-profiles if showLinks is true -->
      <div *ngIf="showLinks" class="link-to-profiles">
        <div class="link-to-profiles">
          <h4 class="transparent-background">LinkedIn</h4>
          <img src="assets/diagonal-arrow-right-up-outline.svg" class="arrow-sign-go" />
        </div>
        <div class="link-to-profiles">
          <h4 class="transparent-background">Resume</h4>
          <img src="assets/diagonal-arrow-right-up-outline.svg" class="arrow-sign-go" />
        </div>
      </div>

      <!-- Button to toggle links visibility on smaller screens -->
      <button class="link-button" (click)="toggleLinks()" *ngIf="!showLinks">Profiles</button>
    </div>
    