.navbar-container{
    display: flex;
    gap: 18rem;
    padding-top: 1rem;
    position: fixed;
    background-color: transparent;
    z-index: 99999;
}

.arrow-sign-go{
    width: 1.3rem;
    height: 1.3rem;
    padding-top: 1.4rem;
    padding-bottom: 0.4rem;
    background-color: transparent;
}

.tibetian-text{
    background-color: #f2f2f2;
    color: #101010;
}
.logo-img{
    height: 3rem;
    width: 2rem;
    border-radius: 0.3rem;
}

.logo-container{
    display: flex;
    line-height: 0rem;
    padding-left: 2rem;
    gap: 1rem;
    background-color: transparent;
}

.link-to-profiles{
    display: flex;

}

.links-to-profiles{
    padding-left: 2rem;
    position: relative;
}

.middle-item{
    border-radius: 2rem;
    background-color: transparent;
    overflow: hidden;
    width: 15rem;
    height: 3.5rem;
}

.middle-item-inner{
    display: flex;
    position: relative;
    gap: 3rem;
    background-color: transparent;
    backdrop-filter: blur(5px);
    padding-left: 3.4rem;
}

.name-profession{
    background-color: transparent;
}

.logo{
    background-color: transparent;
}

.link-to-profiles{
    background-color: transparent;
}

.transparent-background{
    background-color: transparent;
}
