<div class="tilt-neon-font navbar-container">
  <div class="logo-container">
    <div class="logo">
      <img src="assets/newLogo.png" alt="logo" class="logo-img">
    </div>
    <div class="name-profession">
      <h3>Hritik Singh</h3>
      <h6>Software Engineer</h6>
    </div>
  </div>

  <div class="middle-item">
    <div class="nav-indicator" [style.margin-left] = 'marginLeft'></div>
    <div class="middle-item-inner">
      <div class="pill" (click) = "indicatorPositionChange('work')" (click) = "navigate('work')">
        <div class="transparent-background pill-content">
          Work
        </div>
      </div>
      <div class="pill" (click) = "indicatorPositionChange('info')" routerLink="info" (click) = "navigate('info')">
        <div class="transparent-background pill-content">
          Info
        </div>
      </div>
    </div>
  </div>
      <!-- Only show link-to-profiles if showLinks is true -->
      <div *ngIf="showLinks" class="links-to-profiles">
        <a class="link-to-profiles" href="https://www.linkedin.com/in/hritik-kumar-s-b20bb2134/" target = "_blank">
          <h4 class="transparent-background">LinkedIn</h4>
          <div class="arrow-sign-go" >
            <img src="assets/diagonal-arrow-right-up-outline.svg" class="transparent-background"/>
          </div>
        </a>
        <div class="link-to-profiles" (click)="openModal()" >
          <h4 class="transparent-background">Resume</h4>
          <div class="arrow-sign-go" >
            <img src="assets/diagonal-arrow-right-up-outline.svg" class="transparent-background"/>
          </div>
        </div>
      </div>

      <!-- Button to toggle links visibility on smaller screens -->
      <button class="link-button" (click)="toggleLinks()" *ngIf="!showLinks">Profiles</button>
    </div>
    <!-- <app-resume-lookalike *ngIf="isModalOpen"></app-resume-lookalike> -->
    <app-sketch-modal *ngIf="isModalOpen"></app-sketch-modal>
    