<div class="hero-work-body">
    <div class="container-hero-image">
        <div class="window-outline">
            <div class="glare-itm-top"></div>
            <div class="window-main">
                <div class="shine-wrapper">
                    <div class="shine-small"></div>
                    <div class="shine-big"></div>
                </div>
                <div class="window-bar">
                    <div class="window-dots-wallpaper">
                        <div class="dot red"></div>
                        <div class="dot yellow"></div>
                        <div class="dot green"></div>
                    </div>
                </div>
                <div class="window-content">
                    <div class="hero-text-content">
                        <div class="text-hero">
                            I make applications, products & 
                            <span class="text-hero-serif">interfaces</span>
                        </div>
                        <div class="hero-about-grid">
                            <div class="transparent-background"></div>
                            <div class="text-hero-about">
                                Software Engineer at Virtusa. Located at Hyderabad.
                                <br>
                                <span class="text-hero-about-formarly">Formarly at TCS</span>
                            </div>
    
                        </div>
                    </div>
                </div>
        
            </div>
        </div>    
    </div>
    
    
    <div class="container-hero-image">
        <div class="glare-itm-top"></div>
        <div class="window-outline">
            <div class="glare-itm-top"></div>
            <div class="window-main">
                <div class="shine-wrapper">
                    <div class="shine-small"></div>
                    <div class="shine-big"></div>
                </div>
                <div class="window-content">
                    <div class="hero-text-content">
                        <div class="text-hero">
                            I make applications, products & 
                            <span class="text-hero-serif">interfaces</span>
                        </div>
                        <div class="hero-about-grid">
                            <div class="transparent-background"></div>
                            <div class="text-hero-about">
                                Software Engineer at Virtusa. Located at Hyderabad.
                                <br>
                                <span class="text-hero-about-formarly">Formarly at TCS</span>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>    
    </div>
</div>

