@font-face {
    font-family: 'MyCustomFont';
    src: url('/assets/fonts/OTF/PPNeueMontreal-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  :host {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-work-body{
    margin-top: 8rem;
}
.window-outline{
    overflow-y: auto;
    outline: 1px solid #f2f2f226;
    box-shadow: inset 0 0 8px #0006 , 0 0 60px #0003 , 0 30px 120px #000c;
    background-image: radial-gradient(circle farthest-side as 50% 0, #f2f2f233, #000c);
    border-radius: 24px;
    padding: 8px;
    overflow: hidden;
}

.glare-itm-top{
    background-image: linear-gradient(to right, #0000 10%, #fff 50%, #0000 90%);
    height: 2px;
}

.window-main{
    backdrop-filter: blur(20ox);
    border: 1px solid #f2f2f24d;
    overflow: hidden;
    box-shadow: inset 0 0 10px #0000001a, 0 0 12px #0006;
    border-radius: 16px;
    position: relative;
}

.shine-wrapper{
    background-color: transparent;
    grid-column-gap: 24px;
    filter: blur(12px);
    height: 200%;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
    position: absolute;
    inset: 0%;
    transform: rotate(15deg);
    transform-style: preserve-3d;
    animation: shine-loop 5s ease-in-out infinite;
    transform: translate3d(-25vw, 0, 0) rotateZ(15deg);
    opacity: 0.15;
}

.shine-big::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); 
    transform: translate3d(0, 0, 0) rotateX(0deg) rotateY(0deg) rotateZ(15deg) skew(0deg, 0deg);
    opacity: 0;
    animation: shine-animation 2s ease-in-out infinite; 
}
.shine-small::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); 
    transform: translate3d(0, 0, 0) rotateX(0deg) rotateY(0deg) rotateZ(15deg) skew(0deg, 0deg);
    opacity: 0;
    animation: shine-animation 2s ease-in-out infinite; 
}

@keyframes shine-loop {
    /* Group 1: Initial move, rotate, and opacity */
    0% {
      transform: translate3d(-25vw, 0, 0) rotateZ(15deg);
      opacity: 0.15;
    }
    /* Group 2: Move to 80vw */
    50% {
      transform: translate3d(80vw, 0, 0) rotateZ(15deg);
      opacity: 0.15;
    }
    /* Group 3: Opacity fades to 0 */
    60% {
      opacity: 0;
    }
    /* Group 4: Move back to -25vw */
    100% {
      transform: translate3d(-25vw, 0, 0) rotateZ(15deg);
      opacity: 0.15;
    }
  }

.window-bar{
    backdrop-filter: blur(40px);
    background-image: linear-gradient(to right, #f2f2f21a, #f2f2f280 50%, #f2f2f21a);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding-left: 20px;
    padding-right: 12px;
    display: flex;
    box-shadow: 0 10px 20px 4px #0003;
}

.window-content{
    z-index: 5;
    grid-column-gap: 32px;
    background-color: #101010b3;
    flex-direction: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-around;
    align-items: stretch;
    display: flex;
    position: relative;
    padding: 80px 56px 192px;
}

.hero-text-content{
    z-index: 1;
    grid-row-gap: 64px;
    flex-direction: column;
    display: flex;
    position: relative;
    background-color: transparent;
}
.text-hero{
    text-align: left;
    letter-spacing: -2px;
    text-shadow: 0 5px 10px #0057ff26,0 -5px 10px #ff5a001a, 0 -5px 25px #ffffff4d;
    font-family: MyCustomFont, sans-serif;
    font-size: 80px;
    font-weight: 500;
    line-height: 90%;
    background-color: transparent;
}
.text-hero-serif{
    background-image: linear-gradient(to bottom, var(--on-background) 50%, transparent 90%);
    letter-spacing: -2px;
    text-shadow: 0 5px 15px #0057ff1a, 0 -5px 15px #ff5a0014, 0 0 30px #fff3;
    -webkit-background-clip: text;
    background-clip: text;
    padding-right: 12px;
    font-family: Gloock, sans-serif;
    font-style: italic;
    font-weight: 400;
}

.window-dots-wallpaper{
    grid-column-gap: 10px;
    display: flex;
    background-color: transparent;
}

.dot{
    width: 12px;
    height: 12px;
    border-radius: 100px;
    border: 1px solid #10101040;
}

.red{
    background-color: #f46b5d;
    box-shadow: 0 0 20px 2px #f46b5d;
}
.yellow{
    background-color: #f9bd4e;
    box-shadow: 0 0 20px 2px #f9bd4e;
}
.green{
    background-color: #57c353;
    box-shadow: 0 0 20px 2px #57c353;
}

.container-hero-image{
    width: 882px;
    position: relative;
}
.shine-small{
    background-color: #fff;
    width: 16px;
    transform-style: preserve-3d;
}
.shine-big{
    background-color: #fff;
    width: 64px;
    transform-style: preserve-3d;
}

.hero-about-grid{
    grid-column-gap: 24px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    background-color: transparent;
}

.text-hero-about{
    flex-direction: column;
    font-family: MyCustomFont, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    display: flex;
    background-color: transparent;
}

.text-hero-about-formarly{
    color: #f2f2f280;
    font-weight: 400;
    background-color: transparent;
}

.transparent-background{
    background-color: transparent;
}