<div class="main-wrapper">
    <!-- <div class="left-wrapper">
        
    </div>
    <div class="right-wrapper chessboard">
          
    </div> -->
    <div class="card-holder">
    <app-card
      *ngFor="let card of cards; let i = index"
      [title]="card.title"
      [description]="card.description"
      [asset]="card.asset"
      [index]="i+1"
      [style.zIndex]="cards.length - i"
      [backgroundColor] = "card.color"
      [disableHover] = "isScrolling"
      class="card-{{i}}">
    </app-card>
    </div>
</div>
